header{
    margin:0 auto;
    text-align: center;
    padding-top: 300px; 
}
header h1{
    margin:0;
    font-size: 3rem;
    color:rgb(33, 37, 41);
}
header p {
    color: rgb(33, 37, 41);
    font-weight: 700;
    font-size:1.1rem;
    margin-bottom: 30px;
    
}
header a {
    padding: 1.25rem 2.5rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 1);
    font-weight: 700;
    background-color: #1d809f;
    border-color: #1d809f;
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
    display: inline-block;
}