.services{
    background-color: orange;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center
}
.services h3{
    font-size: 16px;
    text-transform: uppercase;
    color:#1d809f;
    padding: 0;
    margin: 0;
}
.services h2{
    font-size: 48px;
    color:#fff;
    margin-bottom: 48px;
    margin-top: 1px;
}
.services > .row {
    display: flex;
    justify-content: space-around;
}

.services > .row span{
    background-color: #fff;
    width: 112px;
    height: 112px;
    display: inline-block;
    border-radius: 50%;
    color:#1d809f;
    font-size: 36px;
    line-height: 120px;     
}
.services > .row h4{
    margin-bottom: 8px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 24px;
    color: #fff;
}
.services > .row span ion-icon{
    contain: none;
    color: orange;

}
